<footer class="footer">

  <div class="container">

    <div class="row">

      <!-- Company -->

      <div class="col-md-4 mb-4">

        <h4>E-Commerce</h4>

        <p>
          Best online shopping website built with
          Angular 21 and .NET Core.
        </p>

      </div>

      <!-- Quick Links -->

      <div class="col-md-4 mb-4">

        <h5>Quick Links</h5>

        <ul class="footer-links">

          <li>
            <a routerLink="/">Home</a>
          </li>

          <li>
            <a routerLink="/products">Products</a>
          </li>

          <li>
            <a routerLink="/cart">Cart</a>
          </li>

          <li>
            <a routerLink="/login">Login</a>
          </li>

        </ul>

      </div>

      <!-- Contact -->

      <div class="col-md-4 mb-4">

        <h5>Contact</h5>

        <p>Email: support@gmail.com</p>

        <p>Phone: +91 989999999</p>

        <p>Ahmedabad, India</p>

      </div>

    </div>

    <hr>

    <div class="text-center">

      <p>
        © 2026 E-Commerce Website.
        All Rights Reserved.
      </p>

    </div>

  </div>

</footer>
